# Allow optional dependencies for rollup native modules
optional=true
# Allow install scripts for native modules (needed for rollup)
ignore-scripts=false
# Use pnpm
engine-strict=true
# Force install optional dependencies
include=optional
