node_modules
dist
outputs/
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.vercel
.env
.env.local
.env.*.local
cache
artifacts
typechain-types
coverage
coverage.json

# Ignore npm lockfiles (we use pnpm)
package-lock.json
**/package-lock.json