node-linker=hoisted
shamefully-hoist=true
public-hoist-pattern[]=*@tanstack*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-dom*
public-hoist-pattern[]=*@account-kit*
public-hoist-pattern[]=*@aa-sdk*
public-hoist-pattern[]=*viem*
verify-store-integrity=false
strict-ssl=true
registry=https://registry.npmjs.org/
