[build]

builder = "nixpacks"

[build.env]

NODE_VERSION = "18"

[build.setup]

commands = [
  "npm install -g pnpm"
]

[build.command]

command = "cd server && node build.cjs"



[deploy]

command = "node server/dist/index.js"
