[build]

builder = "railpack"



[build.env]

NODE_VERSION = "18"



[build.setup]

commands = [

  "npm install -g pnpm"

]



[build]

command = "pnpm --filter @dreamnet/server build"



[deploy]

command = "cd server && node dist/index.js"
