@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  background-color: #050510;
}

.mesh-line {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 32px 32px;
}

